@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.jumbotron {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-color: #FFF;
}

.jumbotron img {
	float: left;
}

.jumbotron .header {
	padding-top: 48px;
	padding-bottom: 48px;
}

.jumbotron .header strong {
	font-family: 'Permanent Marker', cursive;
	font-weight: 700;
    color: #F00;
    font-size: 1.6em;
    line-height: 0.2em;
    margin-left: 10px;
}

nav {
	background-color: #EEE;
}

.film {
	padding: 10px;
}